<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Find me</title>
    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                <h1>Welcome to find me</h1>
            </div>

            <div class="someClass">
               <a href="http://localhost:8010/user/1">user id 1</a>

                Have a nice day!
<!--                <p th:text="${text}"></p>-->
            </div>
        </div>

    </body>
    <footer>footer</footer>

</html>