<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" href="#" />
        <title>Find me</title>
    </head>
    <body>
    <div><a href="http://localhost:8010/">Home</a> </div>
        <div>
            <div class="left">
                <h1>Photo</h1>

                <div>
                    <button class="btn">Send message</button>
                </div>
                <div class="rel">
                    <br>
                    <form id="form-saveRequest">
                        <p>Sent request</p>
                        My id:<br>
                        <input type="text" name="userIdFrom" placeholder="User id from"><br>
                        Another user id:<br>
                        <input type="text" name="userIdTo" placeholder="User id to"><br>
                        <button class="btnRed" type="submit">Save a new request</button>
                    </form>
                    <br>
                    <div id="savedRequest"></div>


                    <br>
<!--                    <div id="confirmRequest"></div>-->

                    <form id="form-getMyRequests">
                        My id:<br>
                        <input type="text" name="userIdFrom" placeholder="User id from"><br>
                        <!--            <input type="text" name="userIdTo" placeholder="User id to"><br>-->
                        <button class="btnRed" type="submit">Show my requests</button>
                    </form>
                    <br>
                    <div id="myRequests"></div>

                </div>

            </div>
            <div class="right">
                <div>
                Styled text here
                <p th:text="${user.firstName}"></p>
                <p th:text="${user.lastName}"></p>
                <p th:text="${user.phone}"></p>
                <p th:text="${user.country}"></p>
                <p th:text="${user.city}"></p>
                <p th:text="${user.age}"></p>
                </div>
                <div>
                    <form id="form-postCreator">
                        <input size="20" type="text" name="userPostedId" placeholder="Posted User id"><br>
                        <input size="20" type="text" name="userPagePostedId" placeholder="Posted User page id"><br>
                        <input size="100" type="text" name="message" placeholder="Post - 200 characters maximum"><br>
                        <input size="20" type="text" name="location" placeholder="location"><br>
                        <input size="100" type="text" name="usersTagged" placeholder="usersTagged"><br>
                        <button class="btnRed" type="submit">post</button>
                    </form>
                </div>
                <div>
                    <h2>Posts</h2>
                    <form id="form-getPosts">
                        <input size="20" type="text" name="userPageOwnerId" placeholder="user page owner id"><br>
                        <input size="20" type="text" name="userPostId" placeholder="user post id"><br>
                        <input size="100" type="text" name="friends" placeholder="friends - true of false"><br>
                        <button class="btnRed" type="submit">Show posts</button>
                    </form>
                    <tr th:each="post : ${postList}">
                        <p th:text="${post.id}"></p>
                        <p th:text="${post.datePosted}"></p>
                        <p th:text="${post.userPosted}"></p>
                        <p th:text="${post.userPagePosted}"></p>
                        <p th:text="${post.location}"></p>
                        <p th:text="${post.usersTagged}"></p>
                        <p th:text="${post.message}"></p>
                        <br><br><br>
                    </tr>
                    <button class="btnRed" id="btn-getPostsAsNews">Show posts as news</button>

                </div>


            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://localhost:63342/findme/js/relationship.js"></script>
        <script src="http://localhost:63342/findme/js/post.js"></script>

    </body>

<style>
    .left {
        float: left;
        width: 200px;
        height: 300px;
        border-style: solid;
    }
    .right {
        margin-left: 300px;
    }
    .btn {
        margin-top: 250px;
        background-color: chartreuse;
    }
    .rel {
        margin-top: 30px;
    }
    .btnRed {
        background-color: coral;
    }
</style>

</html>